@use "abstracts/functions" as *;
@use "abstracts/vars" as *;

@use "base/global";
@use "layout/header";
@use "layout/footer";
@use "ui/buttons";
@use "ui/links";
@use "ui/title";
@use "blocks/section";
@use "base/fonts";
@import '/node_modules/swiper/swiper-bundle.min.css';

.container {
	width: 100%;
	max-width: get-rem(1550);
	margin: 0 auto;
	padding: 0 get-rem(15);

	@media(min-width: 1200px) {
		width: 88%;
	}

	&--big {
		width: 100%;
		max-width: get-rem(1780);
	}
}

.hero-block {
	width: 100%;
	padding: get-rem(28) get-rem(21) 0;
	position: relative;
	z-index: 11;
	background-color: var(--color-purple);
	border-radius: get-rem(24) 0 get-rem(24) get-rem(24);

	@media(min-width: 768px) {
		margin: get-rem(32) 0 0;
		border-radius: get-rem(54) 0 get-rem(54) get-rem(54);
		padding: get-rem(100) get-rem(20) get-rem(46);
	}

	@media(min-width: 992px) {
		padding: get-vw(63) get-vw(113);
		border-radius: get-vw(60) 0 get-vw(60) get-vw(60);
		margin: 0;
	}

	@media(min-width: 1921px) {
		padding: get-rem(63) get-rem(113);
		border-radius: get-rem(60) 0 get-rem(60) get-rem(60);
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: get-rem(7);

		@media(min-width: 768px) {
			gap: get-vw(14);
		}

		@media(min-width: 1921px) {
			gap: get-rem(14);
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: get-rem(21);
		z-index: 2;
		margin: 0 0 get-rem(40);

		@media(min-width: 768px) {
			position: relative;
			gap: get-rem(32);
			max-width: get-rem(397);
			transform: translateY(#{get-rem(-29)});
			margin: 0;
		}

		@media(min-width: 992px) {
			max-width: get-vw(660);
			gap: get-vw(34);
			transform: none;
		}

		@media(min-width: 1921px) {
			max-width: get-rem(660);
			gap: get-rem(34);
		}
	}

	&__board {
		font: 300 #{get-rem(16)}/1.35 $thirdFont;
		background-color: var(--color-white);
		padding: get-rem(12) get-rem(10) get-rem(12) get-rem(21);
		border-radius: 0 get-rem(20) get-rem(20) 0;
		letter-spacing: 0.005em;
		position: absolute;
		bottom: get-rem(51);
		left: 0;
		z-index: 1;
		width: 100%;
		max-width: get-rem(234);

		> .js-light-show {
			position: relative;
			z-index: 2;
		}

		&::after {
			content: '';
			display: block;
			width: get-rem(24);
			height: 100%;
			background-color: var(--color-white);
			position: absolute;
			top: 0;
			right: calc(100% - 1px);
			z-index: 1;

			@media(min-width: 992px) {
				width: get-vw(115);
			}

			@media(min-width: 1921px) {
				width: get-rem(115);
			}
		}

		@media(min-width: 768px) {
			position: relative;
			margin: get-rem(-12) 0 0;
			left: 0;
			top: 0;
			max-width: 100%;
			width: auto;
			padding: get-rem(16) get-rem(10) get-rem(16) 0;
		}

		@media(min-width: 992px) {
			font-size: get-vw(20);
			margin: get-vw(14) 0 0;
			padding: get-rem(25) get-rem(40) get-rem(25) 0;
		}

		@media(min-width: 1921px) {
			font-size: get-rem(20);
			padding: get-rem(25) get-rem(40) get-rem(25) 0;
			border-radius: 0 get-rem(20) get-rem(20) 0;
			margin: get-rem(14) 0 0;

			&::after {
				min-width: get-rem(115);
			}
		}
	}

	&__img {
		display: block;
		z-index: 1;
		width: 100%;
		max-width: 99%;
		height: auto;

		@media(min-width: 768px) {
			position: absolute;
			bottom: 0;
			right: -7.5%;
			width: get-rem(460);
			height: get-rem(439);
			max-width: 100%;
		}

		@media(min-width: 992px) {
			bottom: 0;
			right: 12.5%;
			width: get-vw(713);
			height: get-vw(683);
		}

		@media(min-width: 1320px) {
			right: 11.7%;
		}

		@media(min-width: 1921px) {
			width: get-rem(713);
			height: get-rem(683);
		}

		img {
			z-index: 1;
			width: 100%;
			height: 100%;
			transform: translateX(#{get-rem(19)});

			@media(min-width: 768px) {
				position: absolute;
				top: 0;
				left: 0;
				transform: none;
			}
		}
	}
}

.hero-title {
	font: bold 5.4vw/1.3 $mainFontExtra;
	text-transform: uppercase;
	color: var(--color-white);

	@media(min-width: 480px) {
		font-size: #{get-rem(26)};
		max-width: get-rem(400);
	}

	@media(min-width: 768px) {
		font-size: get-rem(24);
		line-height: 1.15;
		max-width: initial;
	}

	@media(min-width: 992px) {
		font-size: get-vw(45);
		line-height: 1.3;
	}

	@media(min-width: 1921px) {
		font-size: get-rem(45);
	}

	&__bg-blue, &__bg-green {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			z-index: 0;
			transform: translate(-50%, -50%);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
		}

		span {
			position: relative;
			z-index: 1;
		}
	}

	&__bg-blue {

		&::after {
			width: 108%;
			height: 110%;
			top: 54%;
			background-image: url(../images/icons/bg-text-blue.svg);
		}

	}

	&__bg-green {
		&::after {
			width: 104%;
			height: 104%;
			background-image: url(../images/icons/bg-text-green.svg);
		}
	}

	img {
		display: inline;
		transform: translateY(#{get-rem(6)}) translateX(#{get-rem(-3)});

		@media(min-width: 768px) {
			transform: translateY(#{get-rem(6)}) translateX(0);
		}

		@media(min-width: 768px) {
			transform: translateY(#{get-vw(11)}) translateX(#{get-rem(-3)});
		}

		@media(min-width: 1921px) {
			transform: translateY(#{get-rem(11)});
		}

		&:nth-of-type(1) {
			width: 18.5vw;
			height: 7vw;

			@media(min-width: 480px) {
				width: get-rem(86);
				height: get-rem(34);
			}

			@media(min-width: 768px) {
				width: get-rem(80);
				height: get-rem(32);
			}

			@media(min-width: 992px) {
				width: get-vw(151);
				height: get-vw(61);
			}

			@media(min-width: 1921px) {
				width: get-rem(151);
				height: get-rem(61);
			}
		}

		&:nth-of-type(2) {
			width: 12.5vw;
			height: 7vw;

			@media(min-width: 480px) {
				width: get-rem(58);
				height: get-rem(34);
			}

			@media(min-width: 768px) {
				width: get-rem(54);
				height: get-rem(32);
			}

			@media(min-width: 992px) {
				width: get-vw(103);
				height: get-vw(61);
			}

			@media(min-width: 1921px) {
				width: get-rem(103);
				height: get-rem(61);
			}
		}
	}
}

.second-block {
	display: grid;
	align-items: flex-start;
	grid-template-columns: 1fr;
	grid-gap: get-rem(30);

	@media(min-width: 768px) {
		grid-template-columns: 1fr 1.44fr;
		grid-gap: get-vw(60);
	}

	@media(min-width: 1921px) {
		grid-gap: get-rem(60);
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: get-rem(10);

		@media(min-width: 768px) {
			gap: get-rem(14);
		}

		@media(min-width: 992px) {
			gap: get-vw(62);
		}

		@media(min-width: 1921px) {
			gap: get-rem(62);
		}
	}

	&__img-wrap {
		align-self: stretch;
		position: relative;
		display: inline-block;
		mask-image: url("../images/pics/pic-mask-mob.webp");
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: 100% 100%;

		@media(min-width: 768px) {
			mask-image: url("../images/pics/pic-mask-tablet.webp");
		}

		@media(min-width: 992px) {
			mask-image: url("../images/pics/pic-mask.webp");
		}

		@media(max-width: 767px) {
			height: 0;
			padding-bottom: 109.6%;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: get-vw(60);
		overflow: hidden;

		@media(min-width: 1921px) {
			border-radius: get-rem(60);
		}

		@media(max-width: 767px) {
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 1;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.board-block {
	padding: get-rem(33) get-rem(36) get-rem(33) get-rem(26);
	border-radius: get-rem(29);

	@media(min-width: 768px) {
		padding: get-rem(33) get-rem(36) get-rem(28) get-rem(26);
	}

	@media(min-width: 992px) {
		padding: get-vw(70) get-vw(70) get-vw(60) get-vw(52);
		border-radius: get-vw(60);
	}

	@media(min-width: 1921px) {
		padding: get-rem(70) get-rem(70) get-rem(60) get-rem(52);
		border-radius: get-rem(60);
	}

	&__top {
		margin: 0 0 get-rem(18);

		@media(min-width: 992px) {
			margin: 0 0 get-vw(34);
		}

		@media(min-width: 1921px) {
			margin: 0 0 get-rem(34);
		}

		span {
			margin: 0 0 0 get-rem(10);

			@media(min-width: 992px) {
				margin: 0 0 0 get-vw(18);
			}

			@media(min-width: 1921px) {
				margin: 0 0 0 get-rem(18);
			}
		}
	}

	&--yellow {
		background-color: var(--color-yellow);
	}

	&--green {
		background-color: var(--color-green);
	}
}


.title-block {
	font: bold 5.05vw/1.57 $mainFont;
	text-transform: uppercase;

	@media(min-width: 768px) {
		font-size: 3.05vw;
	}

	@media(min-width: 1200px) {
		font-size: get-vw(50);
	}

	@media(min-width: 1921px) {
		font-size: get-rem(50);
	}

	&__bg  {
		position: relative;
		margin: 0 get-vw(16) 0 0;

		@media(min-width: 768px) {
			margin: 0 get-vw(11) 0 0;
		}

		@media(min-width: 1921px) {
			margin: 0 get-rem(11) 0 0;
		}

		&::after {
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			z-index: 0;
			transform: translate(-50%, -50%);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
			opacity: 0;
			transition: opacity 0.25s 0.25s ease-in;
		}

		span {
			position: relative;
			z-index: 1;
		}

		&.showed {

			&::after {
				opacity: 1;
			}
		}

		&--blue {

			&::after {
				width: 100%;
				height: 100%;
				top: 54%;
				background-image: url(../images/icons/text-blue.svg);
			}

		}

		&--green {
			&::after {
				width: 105%;
				height: 100%;
				left: 48%;
				background-image: url(../images/icons/text-green.svg);
			}
		}

		&--yellow {
			&::after {
				width: 108%;
				height: 100%;
				background-image: url(../images/icons/text-yellow.svg);
			}
		}
	}

	br {

		&:not(.mobile-br) {
			@media(max-width: 767px) {
				display: none;
			}
		}

		&.mobile-br {

			@media(min-width: 768px) {
				display: none;
			}
		}
	}

	span {
		word-break: break-word;
	}
}

.js-animate-symbol {
	display: inline-block;
	will-change: transform, opacity;
}
