mixin header()
    //- header start
    header.header.js-header
        .logo-block.js-light-show(data-show-y="-20" data-delay="0.1")
            picture.logo.logo--header
                img(src="content/images/icons/logo.svg" width="234" height="117" alt="logo")
            h1.logo-block__title
                span Starland
                | На Щасливому
        .header__body
            .header__body-top
                button.burger-btn.js-light-show(data-show-y="-20" data-delay="0.2")
                    svg(width='17' height='11' viewbox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M16.4434 0.222656V1.22266H0.554688V0.222656H16.4434Z' fill='#7165CF')
                        path(d='M16.4434 5.11328V6.11328H0.554688V5.11328H16.4434Z' fill='#7165CF')
                        path(d='M16.4434 10V11H0.554688V10H16.4434Z' fill='#7165CF')
                nav.header__nav.js-light-show(data-show-y="-20" data-delay="0.4")
                    a.simple-link.simple-link--decor-white.js-nav-anchor.is-current(href="#about") Про нас
                    a.simple-link.simple-link--decor-white.js-nav-anchor(href="#services") Цінності
                    a.simple-link.simple-link--decor-white.js-nav-anchor(href="#contacts") Освітній простір
                .phone-board.js-light-show(data-show-y="-20" data-delay="0.3")
                    .phone-board__icon
                        svg(width='40' height='39' viewbox='0 0 40 39' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M34.9849 31.6873C35.0032 30.1151 33.4094 27.9754 32.424 26.6607C31.0303 24.8002 29.0577 24.5406 27.7039 25.3756C26.4643 26.1397 25.8716 27.319 25.4157 28.4791C25.3456 28.6566 25.1311 28.7433 24.9438 28.6453C18.3115 25.1648 15.7135 17.9339 16.6756 16.7478C17.3673 15.8949 19.1776 16.1739 20.0234 15.465C20.559 15.0163 20.8741 14.3545 20.9454 13.6712C21.009 13.4259 21.0373 13.1457 21.0294 12.8277C21.0484 12.854 21.0637 12.8827 21.0831 12.9088L21.029 12.8127C20.9988 11.7515 20.6089 10.6514 20.1238 9.70073C19.2157 7.91843 18.408 6.27877 16.5766 5.38384C15.2517 4.73944 13.3455 6.27862 12.18 7.16661C11.399 7.74765 10.421 8.69369 9.95195 9.99303C8.6057 12.7051 9.20274 15.6925 10.0971 18.5838C12.5482 26.5076 19.2666 35.7885 27.8145 36.1689C31.1154 36.8857 34.9551 34.2344 34.9849 31.6873ZM16.2176 6.08231C17.8455 6.87751 18.5804 8.42743 19.4064 10.0484C19.7521 10.7261 19.984 11.3503 20.1152 11.9578C20.5221 13.8415 19.8557 14.283 18.6268 14.832C17.0613 11.8662 15.271 9.06809 13.6539 7.0502C14.2682 6.61254 15.5461 5.75185 16.2176 6.08231ZM29.1434 35.5044C28.443 35.5502 27.7026 35.3977 26.9477 35.0652C20.9716 32.4381 16.0348 27.5661 13.4032 21.6972C12.3931 19.4447 11.7011 17.025 11.0317 14.6851C10.6652 13.403 10.2496 11.9497 10.5927 10.6061C10.9247 9.30371 11.9035 8.35462 12.6663 7.78781C13.1327 7.434 12.9789 7.55078 13.016 7.52246C14.5883 9.48277 16.3317 12.2043 17.8658 15.099C17.3316 15.2394 16.7858 15.2981 16.2956 15.3302C15.6247 15.374 15.1428 15.9698 15.2519 16.6173C16.1446 21.9153 19.7127 26.7873 24.5637 29.3326C25.1746 29.6541 25.9217 29.3754 26.1638 28.7587C26.4035 28.1487 26.6858 27.5372 27.0877 27.0046C29.9722 30.018 31.9566 33.9794 32.2553 34.4565C31.3002 35.0781 30.2302 35.4417 29.1434 35.5044ZM27.6258 26.4205C27.7812 26.2821 27.9458 26.1505 28.1323 26.0355C29.1293 25.4197 30.6406 25.6045 31.7768 27.1213C32.5967 28.2152 34.1991 30.3491 34.1835 31.6781C34.1741 32.4976 33.5657 33.3671 32.891 33.9728C31.1245 30.7346 29.4 28.2623 27.6258 26.4205Z' fill='#7165CF')
                            path(d='M5.73765 8.64011C5.67791 8.84803 5.80208 9.06357 6.01494 9.12152C6.70023 9.3091 7.33543 9.65986 7.85168 10.1357C7.92889 10.2068 8.02802 10.2424 8.12689 10.2424C8.48812 10.2424 8.66476 9.80977 8.4021 9.56836C7.7922 9.00613 7.0417 8.59182 6.23198 8.37018C6.0199 8.31172 5.79764 8.43271 5.73765 8.64011Z' fill='#7165CF')
                            path(d='M9.44423 8.01076C9.61848 7.87808 9.64953 7.63306 9.5131 7.46276L7.84331 5.38057C7.70688 5.21078 7.45515 5.18028 7.28089 5.31347C7.10664 5.44615 7.0756 5.69168 7.21203 5.86147L8.88181 7.94366C9.0168 8.11265 9.26928 8.14422 9.44423 8.01076Z' fill='#7165CF')
                            path(d='M10.6906 6.14976C10.7333 6.35814 10.9408 6.49808 11.1622 6.45579C11.3792 6.4136 11.5198 6.20771 11.4763 5.99624C11.3093 5.18492 11.0451 4.3919 10.6911 3.63802C10.599 3.4418 10.3619 3.35588 10.1597 3.44586C9.95857 3.53533 9.87014 3.76714 9.96223 3.96336C10.2909 4.66234 10.5359 5.39792 10.6906 6.14976Z' fill='#7165CF')
                    .phone-board__list
                        a.simple-link.simple-link--white(href="tel:0730680630") 073 068 06 30
                        a.simple-link.simple-link--white(href="tel:0980680630") 098 068 06 30
            .header__body-bottom

