extends ../layout/base

block variables

    - var title='Starland';
    - var description='Starland description';
    - var pageClass='';
block content
    section.section.section--hero
        .container.container--big
            .hero-block
                .hero-block__left
                    .hero-block__top.js-light-show(data-show-y="20" data-delay="0.8")
                        h4.title.title--nice-default.title--white Приватна гімназія
                        p.title.title--simple.title--white м.Рівне, вул.Березова, буд.16
                    h2.hero-title.js-light-show(data-show-y="20" data-delay="1.2")
                        | Надихаємо #[span.hero-title__bg-blue #[span на знання]] #[span.hero-title__bg-green #[span Виховуємо]] лідерів&nbsp;
                        img(src="content/images/icons/text-icons-triple.svg" width="152" height="61" alt="text-icon-triple")
                        | Творимо&nbsp;
                        img(src="content/images/icons/text-icons-double.svg" width="103" height="61" alt="text-icon-double")
                        | майбутнє
                    .hero-block__board.js-light-show(data-show-x="-20" data-delay="1.6")
                        | Відкриття заплановане на 1 вересня 2026 року
                picture.hero-block__img.js-light-show(data-show-z="0.95" data-delay="2")
                    source(media="(min-width:768px)" srcset="content/images/pics/students.webp")
                    img(src="content/images/pics/students-mob.webp" alt="" width="713" height="683")
    section.section.section--default
        .container
            .second-block
                .second-block__left
                    .board-block.board-block--yellow.js-light-show(data-show-x="-15")
                        .board-block__top
                            h3.title.title--secondary-semi.title--dark.title--ttu
                                | Місія
                                span нашої гімназії
                        p.simple-text.simple-text--default.simple-text--dark
                                | формувати інтелектуально розвинену, креативну та відповідальну особистість шляхом поглибленого вивчення STEM-дисциплін у поєднанні з проєктною та дослідницькою діяльністю.
                    .board-block.board-block--green.js-light-show(data-show-x="-15" data-delay="0.3")
                        .board-block__top
                            h3.title.title--secondary-semi.title--dark.title--ttu
                                | Візія
                                span закладу
                        p.simple-text.simple-text--default.simple-text--dark
                            |  бути інноваційним освітнім простором, де сучасні технології, наука та творчість формують покоління лідерів, здатних змінювати світ на краще.
                .second-block__img-wrap.js-light-show(data-show-x="15" data-delay="0.3")
                    picture.second-block__img
                        img(src="content/images/empty.gif" data-src="content/images/pics/pic1.webp" alt="" width="713" height="683" class="lazy")
    section.section.section--default
        .container
            h2.title-block.js-animated-text(data-start-color="#fff" data-end-color="#444" data-start="top 85%" data-end="bottom 55%")
                | Кожна дитина <span class="title-block__bg title-block__bg--blue">має здібності.</span> <br class="mobile-br"> Довіряючи <br> згуртованому <br class="mobile-br"> педагогічному колективу, <br class="mobile-br"> батьки <br> можуть бути впевнені у <br class="mobile-br"> <span class="title-block__bg title-block__bg--green">персоналізованому</span> <br> підході до їхньої дитини  - саме в цьому й полягає <br> <span class="title-block__bg title-block__bg--yellow">довіра</span> до закладу <br class="mobile-br"> освіти.
    section.section.section--default
        .container
            .values-block
                .values-block__top.js-light-show(data-show-y="20")
                    h3.title.title--section-semi.title--dark.title--ttu
                        | Цінності
                        span.dc-bottom.dc-bottom--blue гімназії
                .values-block__list
                    article.value-board.value-board--long.value-board--purple.js-light-show(data-show-y="20" data-delay="0.2")
                        .value-board__top
                            .value-board__numb 01
                            .value-board__images
                                picture.value-board__img
                                    img(src="content/images/empty.gif" data-src="content/images/pics/minipic1.webp" alt="" width="128" height="128" class="lazy")
                                picture.value-board__img
                                    img(src="content/images/empty.gif" data-src="content/images/pics/minipic2.webp" alt="" width="128" height="128" class="lazy")
                        .value-board__body
                            h3.title.title--third.title--white Довіра до дитини
                            p.simple-text.simple-text--default.simple-text--white Довіра підсилює самостійність і дитина вчиться приймати рішення, а не просто виконувати функції. Це також стимулює розвиток відповідальності і учень не боїться помилок, а бачить у них досвід. Довіра створює здорове освітнє середовище: дитина відчуває, що її бачать, чують та поважають
                    article.value-board.value-board--short.value-board--blue.js-light-show(data-show-y="20" data-delay="0.4")
                        .value-board__top
                            .value-board__numb 02
                        .value-board__body
                            h3.title.title--third.title--white Освітня якість <br> та інновації
                            p.simple-text.simple-text--default-sec.simple-text--white
                                | Постійно вдосконалюємо підходи до навчання, інтегруючи сучасні
                                | технології, критичне мислення та проєктне навчання
                    article.value-board.value-board--short.value-board--green.js-light-show(data-show-y="20" data-delay="0.6")
                        .value-board__top
                            .value-board__numb 03
                        .value-board__body
                            h3.title.title--third.title--white
                                | Особистість <br>
                                | понад усе
                            p.simple-text.simple-text--default-sec.simple-text--white
                                | Віримо в унікальність кожної дитини та підтримуємо її розвиток, враховуючи інтереси, потреби та індивідуальні особливості
                    article.value-board.value-board--short.value-board--yellow.js-light-show(data-show-y="20" data-delay="0.8")
                        .value-board__top
                            .value-board__numb 04
                        .value-board__body
                            h3.title.title--third.title--dark
                                | Повага <br>
                                | та емпатія
                            p.simple-text.simple-text--default-sec.simple-text--dark
                                | Формуємо культуру взаєморозуміння, підтримки, відкритого діалогу й толерантного ставлення один до одного
                    picture.value-pic.js-light-show(data-show-y="20" data-delay="1")
                        img(src="content/images/empty.gif" data-src="content/images/pics/listpic1.webp" alt="" width="727" height="440" class="lazy")
                    article.value-board.value-board--short.value-board--pink.js-light-show(data-show-y="20" data-delay="1.2")
                        .value-board__top
                            .value-board__numb 05
                        .value-board__body
                            h3.title.title--third.title--white
                                | Партнерство з родинами
                            p.simple-text.simple-text--default-sec.simple-text--white
                                | Створюємо надійне партнерство «учні-батьки-вчителі», у якому всі сторони взаємодіють задля гармонійного розвитку дитини
    section.section.section--bottom
        .container.container--big
            .bottom-top
                .bottom-top__top
                    h3.title-sec.js-animated-text(data-start-color="#3c3577" data-end-color="#fff" data-start="top 95%" data-end="bottom 75%")
                        | StarLand – це заклад, де <br> формуються життєві  <br><span class="title-sec__bg title-sec__bg--yellow"><span>цінності</span></span>, які органічно <br> інтегруються в <span class="title-sec__bg title-sec__bg--purp"><span>освітній</span></span> <br> процес та сприяють задоволенню потреб учнів.
                    .bottom-top__right
                        p.simple-text.simple-text--third.simple-text--white.js-light-show(data-show-y="20" data-delay="0.2")
                            | Комфортні умови у гімназіїсприяють всебічному розвитку учнів, забезпечуючи використання сучасних технологій навчання та створюючи безбар’єрне  освітнєсередовище
                        .bottom-top__images.js-light-show(data-show-y="20" data-delay="0.4")
                            picture.bottom-top__img
                                img(src="content/images/empty.gif" data-src="content/images/pics/minipic3.webp" alt="" width="128" height="128" class="lazy")
                            picture.bottom-top__img
                                img(src="content/images/empty.gif" data-src="content/images/pics/minipic4.webp" alt="" width="128" height="128" class="lazy")
                            picture.bottom-top__img
                                img(src="content/images/empty.gif" data-src="content/images/pics/minipic5.webp" alt="" width="128" height="128" class="lazy")
    section.section.section--bottom-sec
        .container.container--big
            .bottom-sec
                .list-slider(data-slider="list-slider")
                    .list-slider__top
                        h3.title.title--section-semi.title--white.title--ttu.js-light-show(data-show-y="20")
                            | Освітній
                            span.dc-bottom.dc-bottom--green простір
                        .swiper-nav
                            button.swiper-btn.js-prev-swiper
                                svg(width='30' height='31' viewbox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6.44244 10.5048C6.14955 10.2119 5.67479 10.2119 5.38189 10.5048L0.6524 15.2343C0.511831 15.3749 0.432767 15.5658 0.432674 15.7646C0.432674 15.9635 0.511748 16.1542 0.6524 16.2949L5.38189 21.0253C5.67475 21.318 6.14958 21.318 6.44244 21.0253C6.73529 20.7325 6.73519 20.2577 6.44244 19.9648L2.24322 15.7646L6.44244 11.5654C6.73533 11.2725 6.73533 10.7977 6.44244 10.5048Z' fill='white')
                                    path(d='M1.31543 15.0156C0.901268 15.0157 0.56543 15.3515 0.56543 15.7656C0.56543 16.1798 0.901269 16.5156 1.31543 16.5156L27.8398 16.5156C28.2541 16.5156 28.5898 16.1798 28.5898 15.7656C28.5898 15.3514 28.2541 15.0156 27.8398 15.0156L1.31543 15.0156Z' fill='white')
                            button.swiper-btn.js-next-swiper
                                svg(width='30' height='31' viewbox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M23.3251 10.5048C23.618 10.2119 24.0928 10.2119 24.3857 10.5048L29.1152 15.2343C29.2557 15.3749 29.3348 15.5658 29.3349 15.7646C29.3349 15.9635 29.2558 16.1542 29.1152 16.2949L24.3857 21.0253C24.0928 21.318 23.618 21.318 23.3251 21.0253C23.0323 20.7325 23.0324 20.2577 23.3251 19.9648L27.5244 15.7646L23.3251 11.5654C23.0322 11.2725 23.0322 10.7977 23.3251 10.5048Z' fill='white')
                                    path(d='M28.4521 15.0156C28.8663 15.0157 29.2021 15.3515 29.2021 15.7656C29.2021 16.1798 28.8663 16.5156 28.4521 16.5156L1.92773 16.5156C1.51352 16.5156 1.17773 16.1798 1.17773 15.7656C1.17773 15.3514 1.51352 15.0156 1.92773 15.0156L28.4521 15.0156Z' fill='white')

                    .list-slider__slider.swiper.js-light-show(data-show-y="20" data-delay="0.2")
                        .swiper-wrapper
                            .swiper-slide
                                a(href="content/images/pics/slide1-big.webp" data-gallery="gallery1").slide-item.js-glightbox
                                    picture.slide-item__img
                                        img(src="content/images/empty.gif" data-src="content/images/pics/slide1.webp" alt="" width="618" height="453" class="lazy")
                            .swiper-slide
                                a(href="content/images/pics/slide2-big.webp" data-gallery="gallery1").slide-item.js-glightbox
                                    picture.slide-item__img
                                        img(src="content/images/empty.gif" data-src="content/images/pics/slide2.webp" alt="" width="618" height="453" class="lazy")
                            .swiper-slide
                                a(href="content/images/pics/slide3-big.webp" data-gallery="gallery1").slide-item.js-glightbox
                                    picture.slide-item__img
                                        img(src="content/images/empty.gif" data-src="content/images/pics/slide3.webp" alt="" width="618" height="453" class="lazy")
                            .swiper-slide
                                a(href="content/images/pics/slide1-big.webp" data-gallery="gallery1").slide-item.js-glightbox
                                    picture.slide-item__img
                                        img(src="content/images/empty.gif" data-src="content/images/pics/slide1.webp" alt="" width="618" height="453" class="lazy")
                            .swiper-slide
                                a(href="content/images/pics/slide2-big.webp" data-gallery="gallery1").slide-item.js-glightbox
                                    picture.slide-item__img
                                        img(src="content/images/empty.gif" data-src="content/images/pics/slide2.webp" alt="" width="618" height="453" class="lazy")
                            .swiper-slide
                                a(href="content/images/pics/slide3-big.webp" data-gallery="gallery1").slide-item.js-glightbox
                                    picture.slide-item__img
                                        img(src="content/images/empty.gif" data-src="content/images/pics/slide3.webp" alt="" width="618" height="453" class="lazy")

block script


