extends ../layout/base

block variables

    - var title='Starland';
    - var description='Starland description';
    - var pageClass='';
block content
    section.section.section--hero
        .container.container--big
            .hero-block
                .hero-block__left
                    .hero-block__top
                        h4.title.title--nice-default.title--white Приватна гімназія
                        p.title.title--simple.title--white м.Рівне, вул.Березова, буд.16
                    h2.hero-title
                        | Надихаємо #[span.hero-title__bg-blue #[span на знання]] #[span.hero-title__bg-green #[span Виховуємо]] лідерів&nbsp;
                        img(src="content/images/icons/text-icons-triple.svg" width="152" height="61" alt="text-icon-triple")
                        | Творимо&nbsp;
                        img(src="content/images/icons/text-icons-double.svg" width="103" height="61" alt="text-icon-double")
                        | майбутнє
                    .hero-block__board
                        |Відкриття заплановане на 1 вересня 2026 року
                picture.hero-block__img
                    source(media="(min-width:768px)" srcset="content/images/pics/students.webp")
                    img(src="content/images/pics/students-mob.webp" alt="" width="713" height="683")
    section.section.section--second
        .container
            .second-block
                .second-block__left
                    .board-block.board-block--yellow
                        .board-block__top
                            h2.title.title--secondary-semi.title--dark.title--ttu
                                | Місія
                                span нашої гімназії
                            p.simple-text.simple-text--default.simple-text--dark
                                | формувати інтелектуально розвинену, креативну та відповідальну особистість шляхом поглибленого вивчення STEM-дисциплін у поєднанні з проєктною та дослідницькою діяльністю.
                    .board-block.board-block--green
                        .board-block__top
                            h2.title.title--secondary-semi.title--dark.title--ttu
                                | Візія
                                span закладу
                            p.simple-text.simple-text--default.simple-text--dark
                                |  бути інноваційним освітнім простором, де сучасні технології, наука та творчість формують покоління лідерів, здатних змінювати світ на краще.
block script


