extends ../layout/base

block variables

    - var title='Starland';
    - var description='Starland description';
    - var pageClass='';
block content
    section.section.section--hero
        .container.container--big
            .hero-block
                .hero-block__left
                    .hero-block__top.js-light-show(data-show-y="20" data-delay="0.8")
                        h4.title.title--nice-default.title--white Приватна гімназія
                        p.title.title--simple.title--white м.Рівне, вул.Березова, буд.16
                    h2.hero-title.js-light-show(data-show-y="20" data-delay="1.2")
                        | Надихаємо #[span.hero-title__bg-blue #[span на знання]] #[span.hero-title__bg-green #[span Виховуємо]] лідерів&nbsp;
                        img(src="content/images/icons/text-icons-triple.svg" width="152" height="61" alt="text-icon-triple")
                        | Творимо&nbsp;
                        img(src="content/images/icons/text-icons-double.svg" width="103" height="61" alt="text-icon-double")
                        | майбутнє
                    .hero-block__board
                        .js-light-show(data-show-x="-20" data-delay="1.6") Відкриття заплановане на 1 вересня 2026 року
                picture.hero-block__img.js-light-show(data-show-z="0.95" data-delay="2")
                    source(media="(min-width:768px)" srcset="content/images/pics/students.webp")
                    img(src="content/images/pics/students-mob.webp" alt="" width="713" height="683")
    section.section.section--default
        .container
            .second-block
                .second-block__left
                    .board-block.board-block--yellow.js-light-show(data-show-x="-15")
                        .board-block__top
                            h3.title.title--secondary-semi.title--dark.title--ttu
                                | Місія
                                span нашої гімназії
                        p.simple-text.simple-text--default.simple-text--dark
                                | формувати інтелектуально розвинену, креативну та відповідальну особистість шляхом поглибленого вивчення STEM-дисциплін у поєднанні з проєктною та дослідницькою діяльністю.
                    .board-block.board-block--green.js-light-show(data-show-x="-15" data-delay="0.3")
                        .board-block__top
                            h3.title.title--secondary-semi.title--dark.title--ttu
                                | Візія
                                span закладу
                        p.simple-text.simple-text--default.simple-text--dark
                            |  бути інноваційним освітнім простором, де сучасні технології, наука та творчість формують покоління лідерів, здатних змінювати світ на краще.
                .second-block__img-wrap.js-light-show(data-show-x="15" data-delay="0.3")
                    picture.second-block__img
                        img(src="content/images/empty.gif" data-src="content/images/pics/pic1.webp" alt="" width="713" height="683" class="lazy")
    section.section.section--default
        .container
            .title-block.js-animated-text(data-start-color="#fff" data-end-color="#444")
                | Кожна дитина <span class="title-block__bg title-block__bg--blue">має здібності.</span> <br class="mobile-br"> Довіряючи <br> згуртованому <br class="mobile-br"> педагогічному колективу, <br class="mobile-br"> батьки <br> можуть бути впевнені у <br class="mobile-br"> <span class="title-block__bg title-block__bg--green">персоналізованому</span> <br> підході до їхньої дитини  - саме в цьому й полягає <br> <span class="title-block__bg title-block__bg--yellow">довіра</span> до закладу <br class="mobile-br"> освіти.
block script


