$mainFont: 'Nunito', Verdana, Arial, sans-serif;
$mainFontSemi: 'Nunito', Verdana, Arial, sans-serif;
$mainFontExtra: 'Nunito', Verdana, Arial, sans-serif;
$secondFont: 'Great Vibes', Verdana, Arial, sans-serif;
$thirdFont: 'Inter Semi', Verdana, Arial, sans-serif;
