@use "../abstracts/functions" as *;
@use "../abstracts/vars" as *;

.simple-link {
	display: flex;
	font: 300 #{get-rem(12)}/1 $mainFont;
	position: relative;

	@media(min-width: 360px) {
		font-size: get-rem(14);
	}

	@media(min-width: 430px) {
		font-size: get-rem(16);
	}

	@media(min-width: 1320px) {
		font-size: get-vw(24);
	}

	@media(min-width: 1921px) {
	    font-size: get-rem(24);
	}

	&--decor-white {
		color: var(--color-white);

		&::after {
			content: "";
			position: absolute;
			bottom: get-rem(-14);
			left: get-rem(2);
			z-index: 1;
			display: block;
			width: 100%;
			height: get-rem(8);
			background-image: url(../images/icons/menu-line-mob.svg);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			opacity: 0;
			transition: opacity 0.15s ease-in;

			@media(min-width: 992px) {
				bottom: get-rem(-11);
				height: get-vw(8);
				background-image: url(../images/icons/menu-line.svg);
			}

			@media(min-width: 1921px) {
				height: get-rem(8);
			}
		}

		.desktop-device & {
		    &:hover::after {
			    opacity: 1;
		    }
		}

		&.is-current {
			pointer-events: none;

			&::after {
				opacity: 1;
			}
		}
	}

	&--white {
		color: var(--color-white);
		transition: text-shadow 0.3s ease, color 0.3s ease;

		&:hover {
			color: var(--color-green);
			text-shadow: 0 0 2px var(--color-green);
		}
	}
}
