@use "../abstracts/functions" as *;
@use "../abstracts/vars" as *;

.title {

	&--simple {
		font: 300 #{get-rem(16)}/1 $mainFont;
		letter-spacing: 0.01em;

		@media(min-width: 768px) {
			font-size: get-rem(18);
		}

		@media(min-width: 1200px) {
			font-size: get-vw(24);
		}

		@media(min-width: 1921px) {
		    font-size: get-rem(24);
		}
	}

	&--nice-default {
		font: 400 #{get-rem(22)}/1 $secondFont;

		@media(min-width: 768px) {
			font-size: get-rem(28);
		}

		@media(min-width: 1200px) {
			font-size: get-vw(40);
		}

		@media(min-width: 1921px) {
			font-size: get-rem(40);
		}
	}

	&--secondary-semi {
		font: 400 #{get-rem(26)}/1 $mainFontSemi;

		@media(min-width: 1200px) {
			font-size: get-vw(55);
		}

		@media(min-width: 1921px) {
			font-size: get-rem(55);
		}

		span {
			font-family: $secondFont;
			text-transform: lowercase;
		}
	}

	&--white {
		color: var(--color-white);
	}

	&--dark {
		color: var(--color-dark);
	}

	&--ttu {
		text-transform: uppercase;
	}
}


.simple-text {

	&--default {
		font: 300 #{get-rem(16)}/1.57 $mainFont;
		letter-spacing: 0.01em;

		@media(min-width: 767px) {
			font-size: get-rem(14);
		}

		@media(min-width: 1200px) {
			font-size: get-rem(16);
			line-height: 1.6;
		}

		@media(min-width: 1440px) {
			font-size: get-vw(20);
		}

		@media(min-width: 1921px) {
			font-size: get-rem(20);
		}
	}

	&--dark {
		color: var(--color-dark);
	}
}
