include ../utils/mixins

block variables
    // Это основа для страниц
    - var notAuto = false;
doctype html
html(lang='uk')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap' rel='stylesheet')
    body(class=pageClass)
        +header()
        main
            block content

        include ../includes/modules/footer


        block script
