include ../utils/mixins

block variables
    // Это основа для страниц
    - var notAuto = false;
doctype html
html(lang='uk')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body(class=pageClass)
        +header()
        main
            block content

        include ../includes/modules/footer


        block script
